In [7]:
df.rename(columns={'User ID':'User'},inplace=True)

In [8]:
df.head(2)

       User  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0